html {
  height: 80.8%;
}

.content__footer {
  text-align: right;
  font-family: normal 16px sans-serif bold;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fefefe;
  
}

.footer__icons {
  display: block;
  margin-top: 2vh;
  float: right;
  flex: 1 0 auto;
  flex-shrink: 0;
  padding: 20px;
  text-align: center;
}
